## Experimentando con plotly-express

### Importar librerias

In [3]:
import pandas as pd
import plotly.express as px

### Leer los Datos

In [4]:
car_data = pd.read_csv(
    '/Users/allis/Documents/Repositorios/Proyecto_5/vehicles_us.csv')

car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [5]:
print(len(car_data))

print('\n',car_data.head())

51525

    price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

### Modelos con más de 1000 menciones

In [26]:
# agrupo por modelo
groupby_model = car_data.groupby('model')['model'].count()
groupby_model

model
acura tl             236
bmw x5               267
buick enclave        271
cadillac escalade    322
chevrolet camaro     414
                    ...
toyota sienna        329
toyota tacoma        827
toyota tundra        603
volkswagen jetta     519
volkswagen passat    350
Name: model, Length: 100, dtype: int64

In [48]:
# enlisto los modelos que tengan más de 1000 menciones
thousand_ads = groupby_model[groupby_model>1000].index
thousand_ads

Index(['chevrolet silverado', 'chevrolet silverado 1500', 'ford f-150',
       'jeep wrangler', 'ram 1500', 'ram 2500'],
      dtype='object', name='model')

In [49]:
# presento la tabla con los modelos mencionados en la lista
car_data[car_data['model'].isin(thousand_ads)].sort_values('model')

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
26497,26880,2016.0,chevrolet silverado,like new,NaN,gas,43572.0,automatic,truck,grey,1.0,2018-05-29,41
30704,2300,1978.0,chevrolet silverado,good,8.0,gas,NaN,automatic,pickup,brown,NaN,2018-07-29,23
30686,2500,1991.0,chevrolet silverado,good,8.0,gas,117000.0,automatic,truck,blue,NaN,2018-05-05,61
9626,1,2018.0,chevrolet silverado,new,10.0,electric,30000.0,automatic,truck,red,1.0,2018-11-21,64
20541,9000,2008.0,chevrolet silverado,good,NaN,diesel,202000.0,automatic,truck,white,1.0,2018-12-23,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31621,29995,NaN,ram 2500,excellent,8.0,gas,NaN,automatic,pickup,white,1.0,2018-05-15,40
19752,8950,2013.0,ram 2500,good,6.0,diesel,NaN,automatic,truck,white,NaN,2018-12-11,26
47194,38499,2014.0,ram 2500,like new,NaN,diesel,73800.0,automatic,truck,grey,1.0,2019-03-21,82
31536,3995,1997.0,ram 2500,good,10.0,gas,195507.0,automatic,truck,red,1.0,2018-07-23,65
40291,29900,NaN,ram 2500,good,6.0,diesel,164133.0,automatic,truck,white,1.0,2018-09-16,35

### Crear un histograma

In [7]:
fig = px.histogram(car_data, x="odometer")